   body {
     background-image: url(http://is2.mzstatic.com/image/thumb/Purple/v4/2a/2d/21/2a2d218a-1b92-1b1f-38a8-5ed2c606b3f2/source/175x175bb.jpg);
   }
   
   .background {
     background-color: white;
     width: auto;
     padding: 150px;
     margin: 150px;
   }
   
 
